 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//css
body { text-align: center; }
#playerHealth {
  margin-top: 200px;
  text-align: center;
  width: 75px;
}

.container {
    width: 900px;
    height: 600px;

}


button {
  display: block;
  margin: 25px auto;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
div.Frasier {
  margin-bottom: 25px;
}
div.Frasier input {
  width: 50px;
  margin-left: 25px;
}
